<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => Order %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:customer_name) %></th>
      <th><%= model_class.human_attribute_name(:customer_phone) %></th>
      <th><%= model_class.human_attribute_name(:customer_address) %></th>
      <th><%= model_class.human_attribute_name(:restaurant_name) %></th>
      <th><%= model_class.human_attribute_name(:restaurant_address) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:driver_name) %></th>
      <th><%= model_class.human_attribute_name(:order_details) %></th>
      <th><%= model_class.human_attribute_name(:total_before_fee) %></th>
      <th><%= model_class.human_attribute_name(:total_after_fee) %></th>
      <th><%= model_class.human_attribute_name(:complete) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.customer_phone %></td>
        <td><%= order.customer_address %></td>
        <td><%= order.restaurant_name %></td>
        <td><%= order.restaurant_address %></td>
        <td><%= order.status %></td>
        <td><%= order.driver_name %></td>
        <td><%= order.order_details %></td>
        <td><%= order.total_before_fee %></td>
        <td><%= order.total_after_fee %></td>
        <td><%= order.complete %></td>
        <td><%=l order.created_at, format: :long %></td>
        <td>
          <%= link_to order_path(order), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to order_path(order), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
